<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Victoria Public Hall Event Registration </title>
    <base th:href="${baseURL}"/>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords"
          content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{files/assets/images/favicon.png}" type="image/x-icon">
    <!-- Google font-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->




    <link th:href="@{files/bower_components/fonts/css/googleapis.inter.css}" rel="stylesheet">
    
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet"> -->
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{files/bower_components/bootstrap/css/bootstrap.min.css}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/icon/icofont/css/icofont.css}">

    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/icon/feather/css/feather.css}">
    <!-- font Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/icon/font-awesome/css/font-awesome.min.css}">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/pages/prism/prism.css}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/css/jquery.mCustomScrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{files/assets/css/pcoded-horizontal.min.css}">
    
    
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    
    <link rel="stylesheet" type="text/css" th:href="@{files/bower_components/flatpickr/css/flatpickr.min.css}">
    
    <!-- SweetAlert2 CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{files/bower_components/sweetalert/css/sweetalert.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">	<!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


</head>