
<!-- Required Jquery -->
<script type="text/javascript" th:src="@{files/bower_components/jquery/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{files/bower_components/jquery-ui/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{files/bower_components/popper.js/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{files/bower_components/bootstrap/js/bootstrap.min.js}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" th:src="@{files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
<!-- modernizr js -->
<script type="text/javascript" th:src="@{files/bower_components/modernizr/js/modernizr.js}"></script>
<script type="text/javascript" th:src="@{files/bower_components/modernizr/js/css-scrollbars.js}"></script>

<script type="text/javascript" th:src="@{files/bower_components/flatpickr/js/flatpickr.js}"></script>

<!-- Syntax highlighter prism js -->
<script type="text/javascript" th:src="@{files/assets/pages/prism/custom-prism.js}"></script>
<!-- i18next.min.js -->
<script type="text/javascript" th:src="@{files/bower_components/i18next/js/i18next.min.js}"></script>
<script type="text/javascript" th:src="@{files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js}"></script>
<script type="text/javascript"
        th:src="@{files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js}"></script>
<script type="text/javascript" th:src="@{files/bower_components/jquery-i18next/js/jquery-i18next.min.js}"></script>

<!-- SweetAlert2 JS -->
<script type="text/javascript" th:src="@{files/bower_components/sweetalert/js/sweetalert.min.js}"></script>
<!-- Custom js -->
<script th:src="@{files/assets/js/pcoded.min.js}"></script>
<script th:src="@{files/assets/js/menu/menu-hori-fixed.js}"></script>
<script th:src="@{files/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" th:src="@{files/assets/js/script.js}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>






<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');

</script>